$primary: #800000;

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    transition: all .5s ease-in-out;
    margin-bottom: 50px;
    // transform: translateY(33px);
}

.fixed-header-on {
    transform: translateY(0px);
}

.main-menu {
    position: relative;
    width: 100%;
    height: 58px;
    background: $primary;
    z-index: 1;
    
    a {
        color: white;
    }
}

.child-menu {
    width: 100%;
    height: 58px;
    position: relative;
    background: white;
    transition: all .5s ease-in-out;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    
    #menu ul {
        float: left;
    }
}

#logo {
    color: white;
    
    h2 {
        display: inline-block;
        padding: 5px 0px 0px 20px; 
    }
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
    
    li {
        float: left;
        
        a {
            padding: 20px;
            text-decoration: none;
            display: inline-block;
        }
    }
}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}
.container:before, .container:after {
    content: "";
    display: table;
}
.layout-body {
    clear: both;
    padding-top: 150px;
}

footer {
    position: fixed;
    width: 100%;
    height: 44px;
    text-align: center;
    background: #333;
    color: white;
    bottom: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all .5s ease-in-out;
}