<!DOCTYPE html>
<html>
<head>
  <title>Antares</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav class="main-menu">
    <div class="container">
      <div class="row">
          <div id="logo" class="col-4">
            <h2>Antares Sun</h2>
          </div>
          <div id="menu" class="col-8">
            <ul>
              <li><%= link_to 'Home', {:controller => "users", :action => "index"} %></li>
              <li><%= link_to 'Micropost', {:controller => "microposts", :action => "index"} %></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
      </div>
    </div>
  </nav>
  
  <nav class="child-menu">
    <div class="container">
      <div class="row">
          <div id="menu" class="col-12">
            <ul>
              <li><%= link_to 'Home', {:controller => "users", :action => "index"} %></li>
              <li><%= link_to 'Micropost', {:controller => "microposts", :action => "index"} %></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
      </div>
    </div>
  </nav>
</header>

<div class="layout-body"></div>
<div class="container">
  <div class="row">
    <%= yield %>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <p>&copy; 2016. Antares Sun.</p>
    </div>
  </div>
</footer>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->
</body>
</html>
